{% extends 'base.html' %}
{% block body %}
    {% for item in items %}
        <h2>{{ item.label }}</h2>
        <p>Release Date: {{ item["release-date"] }}</p>
        <div class="button-container">
            <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">Download</a>
        </div>
        <details>
            <summary>Creator</summary>
            <p>Chart: {{ item.creator.chart }} / VFX: {{ item.creator.vfx }}</p>
        </details>
    {% endfor %}
    <div class="button-container">
        <a href="/adofai">뒤로가기</a>
    </div>
{% endblock body %}