.button {
    border-radius: 6px;
    border: none;
    color: white;
    background-color: black;
    top: 50%;
    position: absolute;
    min-height: 40px;
    min-width: 140px
}

.button:hover {
    background-color: #3a3a3a;
    transition: 0.3s;
}

.button:active {
    background-color: #737373;
    transition: 0.3s;
}