.display-button {
    text-align: center;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    
    flex-direction: row;
    align-items: cneter;
    justify-contents: center;
}

.button {
    display: inline-block;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: black;
    transform: translate(0%, 1000%);
    min-height: 40px;
    min-width: 140px
}

.button:hover {
    background-color: #3a3a3a;
    transition: 0.3s;
}

.button:active {
    background-color: #737373;
    transition: 0.3s;
}

.img {
    max-height: 200px;
    max-width: 200px;
}