@font-face {
  font-family: "NanumSquareNeo-Light";
  src: url(/static/fonts/NanumSquareNeoTTF-Light.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo-Regular";
  src: url(/static/fonts/NanumSquareNeoTTF-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo-Bold";
  src: url(/static/fonts/NanumSquareNeoTTF-Bold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo-ExtraBold";
  src: url(/static/fonts/NanumSquareNeoTTF-ExtraBold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo-Heavy";
  src: url(/static/fonts/NanumSquareNeoTTF-Heavy.woff2) format("woff2");
  font-weight: 800;
  font-display: swap;
}

:root {
  --font-Light: "NanumSquareNeo-Light";
  --font-Regular: "NanumSquareNeo-Regular";
  --font-Bold: "NanumSquareNeo-Bold";
  --font-ExtraBold: "NanumSquareNeo-ExtraBold";
  --font-Heavy: "NanumSquareNeo-Heavy";
  --navbar-padding: 60px;
  --navbar-font: "NanumSquareNeo-Light";
  --cric-out: cubic-bezier(0,1,1,1);
  --transition-duration: 0.5s;
}

body {
  font-family: var(--font-Regular);
  background: linear-gradient(to right, #303030, #494949);
  color: white;
  text-align: center;
  word-break: keep-all;
}

h1 {
  font-family: var(--font-Heavy);
}

h3 {
  font-family: var(--font-ExtraBold);
}

p,
a {
  font-family: var(--font-Light);
}

a {
  color: #77eedd;
  margin: 5px;
}

div.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: var(--font-Bold);
  font-size: 15px;
  background-color: #2e2e2e;
  color: white;
  width: 250px;
  height: 50px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
}

nav {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-padding);
  background: linear-gradient(to right, #303030, #494949);
}

nav a {
  display: inline-block;
  background: #2e2e2e;
  color: white !important;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 15px;
  transition: box-shadow var(--transition-duration) var(--cric-out), transform var(--transition-duration) var(--cric-out);
}

nav a:hover {
  box-shadow: 0px 0px 10px #000;
  transform: scale(120%);
}

main {
  padding-top: var(--navbar-padding);
}