@font-face {
  font-family: "NanumSquareNeo-Light";
  src: url(/static/fonts/NanumSquareNeoTTF-Light.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo-Regular";
  src: url(/static/fonts/NanumSquareNeoTTF-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo-Bold";
  src: url(/static/fonts/NanumSquareNeoTTF-Bold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo-ExtraBold";
  src: url(/static/fonts/NanumSquareNeoTTF-ExtraBold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo-Heavy";
  src: url(/static/fonts/NanumSquareNeoTTF-Heavy.woff2) format("woff2");
  font-weight: 800;
  font-display: swap;
}

:root {
  --font-Light: "NanumSquareNeo-Light";
  --font-Regular: "NanumSquareNeo-Regular";
  --font-Bold: "NanumSquareNeo-Bold";
  --font-ExtraBold: "NanumSquareNeo-ExtraBold";
  --font-Heavy: "NanumSquareNeo-Heavy";

  --navbar-padding: 60px;
  --navbar-font: "NanumSquareNeo-Light";

  --transition-duration: 0.5s;
  --cric-out: cubic-bezier(0, 1, 1, 1);
}

body {
  font-family: var(--font-Regular);
  background: linear-gradient(to right, #303030, #494949);
  color: white;
  text-align: center;
  word-break: keep-all;
}

h1 {
  font-family: var(--font-Heavy);
  font-size: 200%;
}

h2 {
  font-family: var(--font-ExtraBold);
  font-size: 160%;
}

h3 {
  font-family: var(--font-ExtraBold);
  font-size: 120%;
}

footer p,
footer a {
  font-family: var(--font-Light);
  margin: 4px;
}

footer a {
  color: gray;
  text-decoration: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #ffffff;
  text-decoration: none;

  border-style: solid;
  border-width: 3px;
  border-radius: 16px;
  width: 280px;
  height: 56px;

  background-color: #2e2e2e;

  transition:
    border-color var(--transition-duration) var(--cric-out),
    background-color var(--transition-duration) var(--cric-out);
}

.button-container a:hover {
  border-color: #f5f5f5;
  background-color: #494949;
}

nav {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-padding);
  background: linear-gradient(to right, #303030, #494949);
}

nav a {
  display: inline-block;
  background: #2e2e2e;
  color: white;
  padding: 10px 16px;
  border-radius: 15px;
  text-decoration: none;
  white-space: nowrap;
  flex-shrink: 0;
  transition:
    box-shadow var(--transition-duration) var(--cric-out),
    transform var(--transition-duration) var(--cric-out);
}

nav a:hover {
  box-shadow: 0 0 10px #000;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  nav {
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
  }

  nav::-webkit-scrollbar {
    display: none;
  }

  nav a:first-child {
    margin-left: 10px;
  }

  nav a:last-child {
    margin-right: 10px;
  }
}

main {
  padding-top: var(--navbar-padding);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

hr {
  margin: 10px;
}

details p {
  margin: 10px 0 0 0;
}