@font-face {
    font-family: 'NanumSquareNeo-Light';
    src: url(/static/fonts/NanumSquareNeoTTF-Light.woff2) format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareNeo-Regular';
    src: url(/static/fonts/NanumSquareNeoTTF-Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareNeo-Bold';
    src: url(/static/fonts/NanumSquareNeoTTF-Bold.woff2) format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareNeo-ExtraBold';
    src: url(/static/fonts/NanumSquareNeoTTF-ExtraBold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareNeo-Heavy';
    src: url(/static/fonts/NanumSquareNeoTTF-Heavy.woff2) format('woff2');
    font-weight: 800;
    font-display: swap;
}

:root {
    --font-Light: 'NanumSquareNeo-Light';
    --font-Regular: 'NanumSquareNeo-Regular';
    --font-Bold: 'NanumSquareNeo-Bold';
    --font-ExtraBold: 'NanumSquareNeo-ExtraBold';
    --font-Heavy: 'NanumSquareNeo-Heavy';
}

body {
    font-family: var(--font-Regular);
    background: linear-gradient(to right, #303030, #494949);
    color: white;
    text-align: center;
    word-break: keep-all;
}

h1 {
    font-family: var(--font-Heavy);
}

h3 {
    font-family: var(--font-ExtraBold);
}

p, a {
    font-family: var(--font-Light);
}

a {
    color: #77EEDD;
    margin: 5px;
}

div.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-family: var(--font-Bold);
    font-size: 15px;
    background-color: #2e2e2e;
    color: white;
    width: 250px;
    height: 50px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
}