/* Import Pretendard */

@font-face {
	font-family: 'Pretendard Black';
	font-weight: 900;
	font-display: swap;
	src: url(/static/fonts/Pretendard/woff2/Pretendard-Black.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard ExtraBold';
	font-weight: 800;
	font-display: swap;
	src: url(/static/fonts/Pretendard/woff2/Pretendard-ExtraBold.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard Bold';
	font-weight: 700;
	font-display: swap;
	src: url(/static/fonts/Pretendard/woff2/Pretendard-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard Regular';
	font-weight: 400;
	font-display: swap;
	src: url(/static/fonts/Pretendard/woff2/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard Light';
	font-weight: 300;
	font-display: swap;
	src: url(/static/fonts/Pretendard/woff2/Pretendard-Light.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard Thin';
	font-weight: 100;
	font-display: swap;
	src: url(/static/fonts/Pretendard/woff2/Pretendard-Thin.woff2) format('woff2');
}

:root {
    --pretendard-Black: 'Pretendard Black', sans-serif;
	--pretendard-ExtraBold: 'Pretendard ExtraBold', sans-serif;
    --pretendard-Bold: 'Pretendard Bold', sans-serif;
    --pretendard-Regular: 'Pretendard Regular', sans-serif;
    --pretendard-Light: 'Pretendard Light', sans-serif;
    --pretendard-Thin: 'Pretendard Thin', sans-serif;
}