/* 고도체 폰트 임포트 */
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('https://fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('https://fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('https://fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('https://fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

/* 배경 그라데이션 적용 */
body {
    background-image: linear-gradient(to right, #b0f2ff, #61a5ff);
    font-family: 'Godo';
    font-weight: 400;
    font-style: normal;
    text-decoration-line: none;
    font-weight: 400;
    font-style: normal;
}

/* 하이퍼링크 밑줄 삭제 */
a {
    text-decoration-line: none;
    color: #00f;
}

/* 제목 가운데 정렬 */
h1, h3 {
    text-align: center;
}

/* 폰트 크기 설정 */
h1 {
    font-size: 50px;
}

/* 텍스트 공백 설정 */
h2 {
    padding-left: 20px;
}

/* 이미지 너비 설정 */
img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
}

@media (max-width: 767px) {
    img {
        width: 100%;
    }
}

@media (min-width: 768px) {
    img {
        width: 70%;
    }
}

/* 버튼 가운데 정렬 */
.buttons {
    text-align: center;
}

/* 페이지 페이드 인 */
.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}