{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/license.css?v={{ static_version('static/css/license.css') }}">
{% endblock css %}
{% block body %}
    {% for item in items %}
    <div>
        <h1>{{ item.name }}</h1>
        <h3>Status: {{ item.verify_status }}</h3>
        <p class="license-detail">Detail: {{ item.verify_details }}</p>
        {% if item.screenshot_path %}
            <img loading="lazy" src="{{ item.screenshot_path }}" alt="{{ item.name }}.avif">
        {% endif %}
    </div>
    {% endfor %}
    <button onclick="location.href='/license/wallpaperengine'">뒤로가기</button>
{% endblock body %}