{% extends 'base.html' %}
{% block h3 %}
    {{ h3 | safe }}
{% endblock h3 %}
{% block body %}
    <h2>Links</h2>
    <div class="button-container">
        {% for item in items %}
            <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">
                <button>
                    <img style="width: 24px; height: 24px; object-fit: contain;" src="{{ item.img }}" alt="{{ item.label }}">
                    <span>{{ item.label }}</span>
                </button>
            </a>
        {% endfor %}
        <button onclick="location.href='/'">홈으로</button>
    </div>
{% endblock body %}