<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS file -->
    <!-- Set favicon -->
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png?v=20260512" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg?v=20260512">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico?v=20260512">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png?v=20260512">
    <meta name="apple-mobile-web-app-title" content="HaeengIn's Website">
    <link rel="manifest" href="/static/favicon/site.webmanifest?v=20260512">
    <!-- Title of page -->
    <title>허가 증명 스크린샷 - 월 페이퍼 엔진</title>
</head>
<body>
    <h1>월 페이퍼 엔진</h1>
    <h2>Wallpaper Engine</h2>
    <h3>항목을 눌러 월 페이퍼의 허가 증명 스크린샷을 확인하세요.</h3>
    <div>
        <button onclick="location.href='/license/wppengine/shiro'">DJ Raisei - SHIRO</button>
    </div>
</body>
</html>