<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS file -->
    <link rel="stylesheet" href="/static/css/style.css?v={{ static_version('static/css/style.css') }}">
    <link rel="stylesheet" href="/static/css/license/wppengine/shiro.css?v={{ static_version('static/css/license/wppengine/shiro.css') }}">
    <!-- Set favicon -->
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png?v=20260512" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg?v=20260512">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico?v=20260512">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png?v=20260512">
    <meta name="apple-mobile-web-app-title" content="HaeengIn's Website">
    <link rel="manifest" href="/static/favicon/site.webmanifest?v=20260512">
    <!-- Title of page -->
    <title>Wallpaper Engine - SHIRO</title>
</head>
<body>
    {% for item in verifications %}
    <div>
        <h2>{{ item.name }}</h2>
        <h3>Status: {{ item.verify_status_text }}</h3>
        <h4>Detail: {{ item.verify_details }}</h4>
        {% if item.screenshot_path %}
            <img loading="lazy" src="{{ item.screenshot_path }}" alt="{{ item.name }}.avif">
        {% endif %}
    </div>
    {% endfor %}
    <button onclick="location.href='/license/wppengine'">뒤로가기</button>
    <script defer src="/static/js/footer.js?v={{ static_version('static/js/footer.js') }}"></script>
</body>
</html>